[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
pump_raydium = "2CfjzUDDcLYcjCt4HvbEDhmnvJHxpmuhVKb2KD8xxpSK"

[programs.localnet]
pump_raydium = "2CfjzUDDcLYcjCt4HvbEDhmnvJHxpmuhVKb2KD8xxpSK"

[programs.mainnet]
pump_raydium = "8aSCSFDdGbSnXCstVQwwxdBevgckcJXsMYmPuhvKKMQ6"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "https://api.devnet.solana.com"
wallet = "~/.config/solana/id.json"

[scripts]
build = "rm -rf target && anchor build && mkdir -p target/deploy && cp /root/.config/solana/id.json ./target/deploy/pump_raydium-keypair.json"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
